/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

* {
  box-sizing: border-box;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

:root {
  --bg-color-1: #4C565E;
  --bg-color-2: #CCEAEE;
  --bg-color-3: #528D8A;
  --bg-color-4: #D3CC8B;
  --bg-color-5: #8F8B54;
  --bg-color-6: #FFFFFF;
  --bg-color-7: #ED4D52;
  --bg-color-8: #BC494C;
  --bg-color-9: #4C565ECC;
  --bg-color-10: #FFFF00;
  --txt-color-1: #222222;
  --txt-color-2: #C69C6D;
  --txt-color-3: #B72126;
  --txt-color-4: #8F8B54;
  --txt-color-5: #FFFFFF;
  --txt-color-6: #D3CC8B;

  --size-xs: 0.75rem;
  --size-sm: 0.75rem;
  --size-base: 0.75rem;
  --size-md: 1rem;
  --size-lg: 1.25rem;
  --size-xl: 1.75rem;
  --size-xxl: 2.25rem;
  --size-xxxl: 3rem;

  --font-base: Arial,
    Geneva,
    Tahoma,
    sans-serif;
  --font-fancy: 'Pacifico', cursive;
  --font-title: 'Berkshire Swash', cursive;
  --font-handwriting: 'Caveat', cursive;

  --border-base: 1px solid var(--txt-color-1);

  --shadow-base: 8px 8px 0px 0px #0C0C0C30;
  --shadow-txt: 1px 1px 0px #0C0C0C;
  --shadow-glow: 0 0 12px 6px #eaeec6,
    0 0 18px 10px #f0f,
    0 0 25px 15px #0ff;

  --normal-1000ms-transition: all 1s ease-in-out;
  --normal-500ms-transition: all 500ms ease-in-out;
  --postcard-100ms-transition: all 100ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
  --bouncy-800ms-transition: all 800ms cubic-bezier(0.435,
      -0.600,
      0.510,
      1.525);
  --bouncy-300ms-transition: all 300ms cubic-bezier(0.435,
      -0.600,
      0.510,
      1.525);
  --bouncy-100ms-transition: all 100ms cubic-bezier(0.435,
      -0.600,
      0.510,
      1.525);
}

@media screen and (min-width:1024px) {
  :root {
    --size-xs: 0.75rem;
    --size-sm: 1rem;
    --size-base: 1.25rem;
    --size-md: 1.5rem;
    --size-lg: 2rem;
    --size-xl: 3rem;
    --size-xxl: 5rem;
    --size-xxxl: 10rem;
  }
}

/* structural */
body {
  background: var(--bg-color-1);
  overflow: hidden;
  width: 100dvw;
  font-family: var(--font-base);
}

body:before {
  content: "";
  background-image: linear-gradient(140deg,
      hsl(240deg 100% 20%) 0%,
      hsl(289deg 100% 21%) 11%,
      hsl(315deg 100% 27%) 22%,
      hsl(329deg 100% 36%) 33%,
      hsl(337deg 100% 43%) 44%,
      hsl(357deg 91% 59%) 56%,
      hsl(17deg 100% 59%) 67%,
      hsl(34deg 100% 53%) 78%,
      hsl(45deg 100% 50%) 89%,
      hsl(55deg 100% 50%) 100%);
  background-size: 400% 400%;
  display: block;
  width: 100dvw;
  height: 100dvh;
  position: absolute;
  inset: 0;
  animation: aurora 5s ease-in-out infinite;
}

@keyframes aurora {
  0% {
    opacity: 0.1;
    background-position: 0% 50%;
  }

  50% {
    opacity: 0.3;
    background-position: 100% 50%;
  }

  100% {
    opacity: 0.1;
    background-position: 0% 50%;
  }
}

.container {
  max-width: 1600px;
  margin-inline: var(--size-lg);
}

a {
  text-decoration: none;
  color: var(--txt-color-2);
}

a:hover {
  color: var(--txt-color-5);
}

.button {
  background: var(--bg-color-5);
  border-radius: var(--size-xxl);
  font-family: var(--font-title);
  font-size: var(--size-md);
  color: var(--txt-color-5);
  padding: var(--size-sm) var(--size-lg);
  box-shadow: var(--shadow-base);
}

.button:hover {
  color: var(--txt-color-5);
  background: var(--bg-color-8);
}

h2+p {
  font-size: var(--size-base);
}

@media screen and (min-width: 768px) {
  .button:hover {
    box-shadow: var(--shadow-glow);
  }
}

@media screen and (min-width:1600px) {
  .container {
    margin-inline: auto;
  }
}

/* header */
header {
  position: absolute;
  width: 100dvw;
  padding-block: var(--size-sm);
  z-index: 100;
  transition: var(--normal-1000ms-transition);
}

.scrollDown header {
  transform: translateY(-100%);
  -webkit-backdrop-filter: unset;
  backdrop-filter: unset;
}

.scrollUp header,
html body.scrollToTop header {
  transition: var(--normal-500ms-transition);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  transform: translateY(0);
}

header div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  flex: 1;
}

.logo img:hover {
  filter: brightness(1.4);
}

.logo img {
  width: clamp(100px, 20dvw, 200px);
}

nav {
  display: flex;
  gap: var(--size-xl);
  font-family: var(--font-fancy);
  font-size: var(--size-base);
  line-height: var(--size-sm);
}

nav a {
  display: none;
}

nav a:hover {
  scale: 1.2;
}

lord-icon {
  width: var(--size-xl);
  height: var(--size-xl);
}

.book-now-button {
  height: var(--size-base);
}

.mobile-menu {
  position: absolute;
  z-index: 100;
  right: 0;
  top: 60px;
  translate: 100% 0;
  background: #FFFFFFDD;
  padding: var(--size-xl);
  border-radius: var(--size-xxxl) 0 0 var(--size-xxxl);
  transition: var(--bouncy-800ms-transition);
}

.mobile-menu-icon {
  display: block;
  width: 50px;
  height: 50px;
  background-color: var(--bg-color-8);
  position: absolute;
  translate: -100% 0;
  top: 50px;
  left: 0;
  border-radius: 50% 0 0 50%;
  transform: rotate(0deg);
  cursor: pointer;
}

.mobile-menu-icon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 60%;
  background: var(--bg-color-6);
  border-radius: 2px;
  opacity: 1;
  left: 12px;
  transform: rotate(0deg);
  transition: var(--normal-500ms-transition);
}

.mobile-menu-icon span:nth-child(1) {
  top: 11px;
}

.mobile-menu-icon span:nth-child(2),
.mobile-menu-icon span:nth-child(3) {
  top: 23px;
}

.mobile-menu-icon span:nth-child(4) {
  top: 35px;
}

.mobile-menu-icon.open span:nth-child(1) {
  top: 23px;
  width: 0%;
  left: 50%;
}

.mobile-menu-icon.open span:nth-child(2) {
  transform: rotate(45deg);
}

.mobile-menu-icon.open span:nth-child(3) {
  transform: rotate(-45deg);
}

.mobile-menu-icon.open span:nth-child(4) {
  top: 12px;
  width: 0%;
  left: 50%;
}

.mobile-menu lord-icon {
  width: var(--size-xxxl);
  height: var(--size-xxxl);
}

.mobile-menu nav {
  flex-direction: column;
}

.mobile-menu nav a {
  display: flex;
  gap: 4px;
  align-items: center;
  font-size: var(--size-xl);
  text-shadow: 1px 1px 0px var(--bg-color-1);
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }

  header div {
    gap: var(--size-xl);
  }
}

@media screen and (min-width:1024px) {
  nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: var(--normal-1000ms-transition);
    text-shadow: var(--shadow-txt);
  }
}

/* scroll bar */
.wrapper::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: var(--bg-color-1);
}

.wrapper::-webkit-scrollbar {
  width: 12px;
  background-color: var(--bg-color-1);
}

.wrapper::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: var(--bg-color-4);
}

/* main */
main {
  transform-style: preserve-3d;
  width: 100dvw;
  overflow-x: hidden;
}

/* title */
.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  isolation: isolate;
}

.title {
  display: grid;
  grid-template-rows: 30vh 1fr 4px 6vw;
  grid-template-columns: 1vw 1fr 1vw;
  background: url(../img/SVG/main.svg) center no-repeat;
  position: relative;
  row-gap: 6px;
}

.separator {
  grid-area: 3 / 2 / 3 / 2;
  align-self: start;
  justify-self: center;
  width: 30vw;
}

.scroll-down-arrow {
  display: block;
  position: absolute;
  bottom: 5dvh;
  left: 50%;
  translate: -50% 0;
  transition: var(--normal-1000ms-transition);
  cursor: pointer;
  z-index: 110;
}

.scrollDown .scroll-down-arrow,
.scrollUp .scroll-down-arrow {
  opacity: 0;
}

.scrollToTop .scroll-down-arrow {
  opacity: 1;
}

.award-title {
  grid-area: 4 / 2 / 4 / 2;
  align-self: center;
  justify-self: center;
  font-family: var(--font-fancy);
  font-size: clamp(var(--size-lg), 2vw, var(--size-xl));
  line-height: var(--size-sm);
  color: var(--txt-color-3);
  margin-top: var(--size-xs);
}

.trophy {
  width: var(--size-xl);
  height: auto;
  display: inline-block;
  padding-inline: 0.25em;
  translate: 0 -0.25em;
}

.trophy:first-child {
  transform: rotate(10deg);
}

.trophy:last-child {
  transform: rotate(-10deg);
}

h1,
span.copy {
  grid-area: 2 / 2 / 2 / 2;
  font-family: var(--font-title);
  text-align: center;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
  font-size: clamp(2rem, 6vw, 6rem);
  display: block;
  line-height: 1;
  margin: 0;
  padding: 0;
}

span.copy {
  display: none;
}

h1 {
  color: var(--txt-color-2);
  z-index: 50;
}

@media screen and (min-width: 768px) {
  .title-container {
    min-height: 800px;
  }

  .title {
    grid-template-rows: 30vh clamp(2rem, 8vw, 8rem) 4px 6vw;
    grid-template-columns: 10vw 1fr 10vw;
    row-gap: var(--size-base);
  }

  span.copy {
    display: block;
  }

  .copy-1 {
    transform: perspective(500px) translate3d(0, 0, -15px);
    color: var(--txt-color-6);
    z-index: 40;
  }

  .copy-2 {
    transform: perspective(500px) translate3d(0, 0, -30px);
    color: var(--txt-color-4);
    z-index: 30;
  }

  .copy-3 {
    transform: perspective(500px) translate3d(0, 0, -45px);
    color: var(--txt-color-3);
    z-index: 20;
  }

  .trophy {
    padding-inline: var(--size-xs);
  }
}

@media screen and (min-width:1024px) {

  h1,
  span.copy {
    line-height: 2;
  }
}

/* parallax background */
.wrapper {
  height: 100dvh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}

.far-background,
.background,
.foreground {
  position: absolute;
  height: clamp(250px, 50vh, 50vh);
  width: 100vw;
  z-index: -1;
  left: 0;
  top: 0;
  transition: var(--normal-300ms-transition);
}

.far-background {
  background: url(../img/1x/main_bg3.png) no-repeat top center;
  transform: translateZ(-50px) scale(6) translateY(0px);
  background-size: 110%;
}

.background {
  background: url(../img/SVG/main_bg2.svg) no-repeat top center;
  transform: translateZ(-13px) scale(2.5) translateY(clamp(80px, 30vw, 120px));
  background-size: 100%;
}

.foreground {
  transform: translateZ(-3px) scale(1) translateY(clamp(250px, 80vw, 400px));
  height: 100dvh;
  background-size: 100%;
}

.foreground::before {
  content: '';
  display: block;
  width: 300dvw;
  height: 100dvh;
  border-radius: 80% 50%;
  background-color: var(--bg-color-2);
  position: absolute;
  translate: -45% -40px;
}



@media screen and (min-width: 768px) {
  .wrapper {
    scroll-behavior: smooth;
  }

  .foreground {
    background: url(../img/SVG/main_bg1.svg) repeat-x center 11em;
    transform: translateZ(-3px) scale(2) translateY(clamp(240px, 15vw, 400px));
  }

  .foreground::before {
    display: none;
  }

  .background {
    transform: translateZ(-13px) scale(2.5) translateY(clamp(80px, 10vw, 100px));
  }

  .far-background {
    transform: translateZ(-50px) scale(6) translateY(-120px);
  }

}

/* postcard */
.postcard {
  display: flex;
  justify-content: center;
  background: var(--bg-color-2);
  padding-block-end: var(--size-xxl);
  margin-top: -100px;
  padding-top: 100px;
}

.postcard-container {
  width: clamp(320px, 100%, 1000px);
  translate: 200% 0;
  aspect-ratio: 1.62;
  background: url(../img/SVG/postcard.svg) top center;
  background-size: cover;
  box-shadow: var(--shadow-base);
  transform-style: preserve-3d;
  display: flex;
  align-items: center;
  transition: var(--postcard-100ms-transition);
}

.postcard-content {
  margin: var(--size-md);
  padding: var(--size-xs);
}

.postcard-content h2 {
  font-family: var(--font-title);
  font-size: var(--size-lg);
  color: var(--txt-color-4);
  margin-block-start: -2dvw;
}

.postcard-content h2+p {
  font-size: var(--size-xs);
  line-height: var(--size-base);
}

.postcard-content p br,
.postcard-content p span {
  display: none;
}

.join-us {
  width: 30dvw;
  height: auto;
}

.logo-path {
  display: block;
}

.logo-path {
  stroke-dasharray: 2600;
  stroke-dashoffset: 2600;
}

.writing .j {
  animation: letter-animation 3s linear forwards;
  animation-delay: 0.4s;
}

.writing .oin {
  animation: letter-animation 5s linear forwards;
  animation-delay: 0.6s;
}

.writing .dot {
  animation: letter-animation 5s linear forwards;
  animation-delay: 1.4s;
}

.writing .us {
  animation: letter-animation 5s linear forwards;
  animation-delay: 1.8s;
}

@keyframes letter-animation {
  0% {
    stroke-dashoffset: 2600;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

.postcard-container::before,
.postcard-container::after {
  content: url('../img/SVG/elf_boy.svg');
  display: block;
  position: absolute;
  transform: translateZ(-1px);
  width: 60px;
  height: auto;
  top: -90px;
  left: 35%;
}

.postcard-container::after {
  left: 50%;
  content: url('../img/SVG/elf_girl.svg');
}

@media screen and (min-width: 400px) {
  .postcard-content {
    margin: var(--size-sm);
    padding: var(--size-sm);
  }

  .postcard-content h2+p {
    line-height: var(--size-lg);
  }
}

@media screen and (min-width: 480px) {
  .postcard-content {
    margin: var(--size-xl);
    padding: var(--size-sm);
  }

  .postcard-content p br,
  .postcard-content p span {
    display: inline-block;
  }

  .postcard-content h2+p {
    font-size: var(--size-base);
    line-height: clamp(var(--size-xs), 3vw, var(--size-lg));
  }
}

@media screen and (min-width: 768px) {
  .postcard {
    margin-top: unset;
    padding-top: unset;
  }

  .join-us {
    width: 337px;
    height: 97px;
  }

  .postcard-content {
    width: 55%;
    border-inline-end: 1px solid var(--txt-color-1);
  }

  .postcard-content h2 {
    text-align: right;
    font-size: var(--size-xl);
    margin-block-start: -2rem;
  }

  .postcard-container::before,
  .postcard-container::after {
    width: 12em;
    top: 0;
    left: 0;
    transform-origin: bottom center;
    transition: var(--bouncy-800ms-transition);
  }

  .postcard-container::after {
    left: unset;
    right: 0;
    transition-delay: 500ms;
    transition-duration: 700ms;
  }

  .elf-animate::before {
    animation: elf-boy-animation 2300ms ease-in-out 500ms 1 forwards;
  }

  .elf-animate::after {
    animation: elf-girl-animation 2200ms ease-in-out 900ms 1 forwards;
  }

  @keyframes elf-boy-animation {
    0% {
      rotate: 0deg;
    }

    35%,
    70% {
      rotate: -45deg
    }

    100% {
      rotate: 0deg;
    }
  }

  @keyframes elf-girl-animation {
    0% {
      rotate: 0deg;
    }

    35%,
    70% {
      rotate: 45deg
    }

    100% {
      rotate: 0deg;
    }
  }
}

/* experience */
.experience {
  display: flex;
  background: url(../img/1x/passport-control.jpg) center no-repeat;
  background-size: cover;
  box-shadow: 0 0 200px rgba(255, 255, 255, 0.9) inset;
  position: relative;
  margin-bottom: -1px;
}

.background-transition {
  position: absolute;
  inset: 0;
  width: 100dvw;
  height: 100dvh;
}

.backdrop-effect {
  animation: backdrop-fading 500ms ease-in-out 0ms 1;
}

@keyframes backdrop-fading {
  0% {
    -webkit-backdrop-filter: blur(10px) opacity(0);
    backdrop-filter: blur(10px) opacity(0);
  }

  35% {
    -webkit-backdrop-filter: blur(100px) opacity(1);
    backdrop-filter: blur(100px) opacity(1);
  }

  75% {
    -webkit-backdrop-filter: blur(100px) opacity(1);
    backdrop-filter: blur(100px) opacity(1);
  }

  100% {
    -webkit-backdrop-filter: blur(10px) opacity(0);
    backdrop-filter: blur(100px) opacity(1);
  }
}


h2 {
  font-family: var(--font-title);
  font-size: var(--size-xl);
  font-weight: normal;
  color: var(--txt-color-6);
  text-align: center;
  line-height: var(--size-lg);
}

h2:hover {
  color: var(--bg-color-4);
}

.experience p {
  text-align: center;
  color: var(--txt-color-5);
}

.experience-separator {
  background: url(../img/SVG/transition_1.svg) top center repeat-x, url(../img/SVG/transition_2.svg) bottom center repeat-x var(--bg-color-9);
  padding-block: var(--size-xxxl);
  position: relative;
  min-height: 100dvh;
}

.experience-image-carousel {
  width: 100dvw;
  min-height: 300px;
  margin-block: var(--size-xl);
  background: url(../img/SVG/crystal.svg) no-repeat center 70%;
  position: relative;
  overflow-x: hidden;
}

.experience-image-container {
  display: flex;
  position: absolute;
  transition: var(--normal-1000ms-transition);
  align-items: center;
  justify-content: center;
  translate: 100dvw;
  left: -100dvw;
}

.experience-image {
  width: 100dvw;
  height: 60%;
  padding-inline: 20dvw;
  display: flex;
  align-items: center;
  justify-content: center;

}

.experience-image lottie-player,
.experience-image dotlottie-player {
  scale: 0.5;
  filter: grayscale(80);
  transition: var(--bouncy-800ms-transition);
}

.experience-image lottie-player,
.experience-image dotlottie-player {
  translate: 0 3em;
}

.experience-image .active-lottie {
  scale: 1;
  filter: none;
}

.prev,
.next {
  all: unset;
  width: var(--size-xl);
  height: var(--size-xl);
  color: var(--bg-color-5);
  cursor: pointer;
}

.prevContainer {
  position: absolute;
  left: 2dvw;
  z-index: 100;
  top: 40%;
}

.nextContainer {
  position: absolute;
  right: 2dvw;
  z-index: 100;
  top: 40%;
}

.prev:hover svg,
.next:hover svg {
  color: var(--bg-color-6);
  box-shadow: var(--shadow-base);
  border-radius: 50%;
}

.prev:disabled,
.prev[disabled] svg,
.next:disabled,
.next[disabled] svg {
  color: var(--bg-color-1);
  box-shadow: none;
  opacity: 80%;
}

.experience-description {
  display: flex;
  justify-content: center;
}

.experience-description div {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.experience h3 {
  color: var(--txt-color-6);
  font-size: var(--size-lg);
  padding: 0 0.25em;
  line-height: var(--size-lg);
  margin: 0;
  translate: 0.5em;
}

h3 span {
  position: absolute;
  display: inline-block;
  font-family: var(--font-handwriting);
  font-weight: normal;
  color: var(--txt-color-1);
  font-size: var(--size-lg);
  transform: translateX(-1.2em) translateY(-1em) rotate(-20deg);
}

.experience h3:has(span) {
  translate: 1.5em;
}

.experience-description div p {
  text-align: left;
  font-size: var(--size-base);
  padding: 0 var(--size-md);
}

@media screen and (min-width: 768px) {
  .experience-description div {
    flex-direction: row;
  }

  .experience h3 {
    text-align: right;
    padding: var(--size-md);
    min-width: 150px;
  }

  .experience-description div p {
    padding: var(--size-xs) var(--size-md);
    border-inline-start: 1px solid var(--txt-color-1);
  }

  .experience {
    background-attachment: fixed;
  }

  .experience-image {
    width: 33.3dvw;
    padding-inline: 0;
  }

  .prevContainer {
    left: 25dvw;
  }

  .nextContainer {
    right: 25dvw;
  }

  .experience-image-container {
    translate: 33.3dvw;
    left: 0;
    height: 100%;
  }

  .experience h3 {
    min-width: 30%;
    translate: 0 0.25em;
  }

  .experience h3:has(span) {
    translate: 0 1.25em;
  }

  .experience-image lottie-player,
  .experience-image dotlottie-player {
    translate: 0 -1em;
  }
}

@media screen and (min-width:1024px) {
  .experience {
    min-height: 1100px;
  }

  .experience-description div {
    max-width: 90%;
  }

  .experience-image-carousel {
    min-height: 400px;
  }



}

/* ticket */
.ticket {
  display: flex;
  min-height: 50dvh;
  max-height: 400px;
  align-items: center;
  flex-direction: column;
  gap: var(--size-xl);
  background: var(--bg-color-4);
  position: relative;
  overflow: hidden;
}

.ticket h2 {
  color: var(--bg-color-1);
}

.ticket p {
  text-align: center;
  color: var(--bg-color-1);
}

.ticket-image {
  position: absolute;
  width: 80%;
  max-width: 1200px;
  top: 80%;
  transition: var(--bouncy-800ms-transition);
  transform-origin: bottom center;
  translate: 0 -10%;
  rotate: -3deg;
}

.ticket div,
.ticket .button {
  z-index: 1;
}

@media screen and (min-width:1024px) {
  .ticket {
    min-height: 500px;
  }

  .ticket-image {
    translate: 0;
    rotate: 0;
  }

  .ticket-image-hover {
    rotate: -7deg;
    translate: 0% -40%;
  }
}

/* footer */
footer {
  background: var(--bg-color-1);
  padding-block: var(--size-xl);
  color: var(--txt-color-5);
}

footer .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main-logo {
  display: block;
  width: clamp(100px, 12dvw, 300px);
}

.info {
  flex: 1;
  padding-block-start: var(--size-xs);
  font-size: var(--size-xs);
}

.info span {
  display: inline-block;
  width: 5em;
}

.main-logo img {
  max-width: 100%;
}

.social-media-link {
  display: flex;
  gap: var(--size-xs);
  align-items: center;
}

.social-media-link a {
  width: var(--size-xl);
}

.social-media-link a:hover img {
  transition: var(--normal-300ms-transition);
  border-radius: 50%;
  translate: -.5em -.5em;
  box-shadow: var(--shadow-base);
}

@media screen and (min-width:1078px) {
  .social-media-link {
    padding-inline-start: var(--size-md);
    border-inline-start: 1px solid var(--bg-color-2);
  }

  .main-logo {
    padding-inline: var(--size-lg);
  }
}

/* safari */
html,
body,
main {
  position: relative;
  overflow: hidden;
}

.wrapper,
.postcard,
.experience,
.ticket {
  position: relative;
  overflow-x: hidden;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

@media (prefers-reduced-motion) {
  :root {
    --normal-1000ms-transition: none;
    --normal-500ms-transition: none;
    --bouncy-800ms-transition: none;
    --bouncy-300ms-transition: none;
    --bouncy-100ms-transition: none;
    --postcard-100ms-transition: none;
  }

  body:before {
    animation: none;
  }

  .postcard-container {
    translate: 0;
  }

  .parallax-wrapper {
    transform-style: flat;
  }

  .logo-path {
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
  }

  lord-icon {
    display: none;
  }
}